
* { font-family: Alegreya; }

.app {
  text-align: center;
}

.app-header {
  font-size: large;

}

.app-footer {
  font-size: large;

}

.newlink {
  color: grey;
  text-decoration: inherit;
}
.container
{
  font-family: Alegreya;
  font-size: larger;
}
.newlink:hover {
  color: white;
}

.navbar-brand.hover{
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.banner-bg
{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  position: relative;
  object-fit: cover;
}

.footer-bg
{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  object-fit: cover;
}

.CItem {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.banner_footer {
  color: white !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
  margin-left: auto;
  margin-right: auto;
  max-height: 40vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: start;
}

.tools{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}

.block{
  display: flex;
  background-color: rgba(0, 0, 0, 0) !important;
  width:400px;
  height: 100px;
  color:white;
  align-items: center;
  border: solid green 1px;
  /* 3 */
   /* 4 */
}

.container-block {
  height: 400px;
  position: relative;
}

.newblock{
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.formAppointment
{
  align-items: center;
}

.roomfac {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
  justify-content: center;
}

.gallerylink {
  color: #1a1e21 !important;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.galleryopacity {
  opacity: 50% !important;
}


.topBanner
{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  object-fit: cover;
}

.topBannerBot {
  font-family: "Permanent Marker";
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 80px;
  text-align: start;
  font-weight: bold;
  color: darkred;
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.carousel-inner > .carousel-item > img {
  height: 100vh;
}

.carousel-item {
  text-align: center;
}

.carousel-caption {
  top: 40%;
  bottom: auto;
  font-weight: bold;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: white;
}
