
* { font-family: Alegreya; }

.app {
  text-align: center;
}

.app-header {
  font-size: large;

}

.app-footer {
  font-size: large;

}

.newlink {
  color: grey;
  text-decoration: inherit;
}
.container
{
  font-family: Alegreya;
  font-size: larger;
}
.newlink:hover {
  color: white;
}

.navbar-brand.hover{
  color: white;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.banner-bg
{
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  position: relative;
  object-fit: cover;
}

.CItem {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.banner_footer {
  background-color: #000000 !important;
  color: white !important;
  opacity: 80%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: start;
}

.tools{
  display:flex;
  flex-direction:row;
  justify-content: space-between;
}
.block{
  width:200px;
  height: 100px;
  background: #000;
  color:white;
}
.formAppointment
{

  align-items: center;
}